.favorite-items {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .favorite-items h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .favorite-items p {
    font-size: 1.2em;
    margin: 5px 0;
  }
  